path/to/pretrained/model_epoch_best.pth filter=lfs diff=lfs merge=lfs -text
E:/Cityu_SIAT/PhD/project/pre_research/Related_paper/remove_reflection/My_paper/IPCAI/github/EndoSRR/pretrained/model_epoch_best.pth filter=lfs diff=lfs merge=lfs -text
